@import 'config';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    padding: 10px;
    background: rgba(148,187,233,1);
    background: $index-bg-gradient;           
    display: flex;
}

li {
    list-style: none;
    display: inline-block;
}

body > div {
    margin: auto;
}

//containers
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1280px; //or 960px
    min-width: 280px;
    height: 80vh;
    min-height: 350px;
    box-shadow: $main-box-shadow;
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 350px;
    height: 100%;
}

.split.about {
    justify-content: space-between;
    padding-top:0;
    position: relative;
    flex: 1;
    color: #fff;
    background-color: rgba( #000000, 0.3)
}

.about {
    .content {
        justify-self: center;
        align-self: center;
        margin-bottom: 10rem;
    }
}

//Index about section navigation setup
nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0px 10px;
    width: calc(100% + 20px);
    background-color: rgba( #000000, 0.6);
    display: flex;

    h2 {
    
        padding-left: 2rem;
        font-family: 'Suranna', serif;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 600;
        color: $main-color;
    }
    h2,ul {
        margin: 0;
    }

    ul {
        display: flex;
        li {
            padding: 0 10px;
            a {
                font-weight:700;
                color: #fff;
                text-decoration: none;

                &:hover  {
                    color: $main-color;
                    padding-bottom: 3px;
                    border-bottom: 1px solid $main-color;
                }
            }
        }
    }
}

.img-container {
    background: url('../images/split-bg.jpg')no-repeat center center/cover ;
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
};

.split.auth  {
    flex: 1;
    background-color:  #fff;
}

//media queries
@media only screen and (max-width: 740px) {
    
    .container {
        height: 100%;
    }

    .split {
        height: 50%;
    }
}