* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    height: 100vh;
    padding: 20px;
    background: rgba(148,187,233,1);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);           
    display: flex;
}

body > div {
    margin: auto;
}

//containers
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 1280px; //or 960px
    min-width: 350px;
    height: 60vh;
    min-height: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}



.split {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 350px;
    height: 100%;
}

.split.about {
    flex: 1;
    background-color: rgba( #000000, 0.6);
    color: #fff;

}

.split.auth  {
    flex: 1;
    background-color:  #fff;
}

//media queries
@media only screen and (max-width: 740px) {
    
    .container {
        height: 100%;
    }

    .split {
        height: 50%;
    }
    
}