* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: 100;
    overflow: hidden;
    margin: 0;
}

//containers

.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    max-width: 1080px;
    height: 100vh;
    flex-direction: row;
}

.split {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 50%;
    min-width: 350px;
    height: 100%;
    overflow: hidden;
}

//navigation

nav {
    justify-self: flex-start;
    align-self: start;

    p {
        font-family: 'Abril Fatface', cursive;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }
}


//form